.header {
	color: #000000;
	font-size: 60px;
	font-weight: bold;
	font-family: monospace;
}
.textbody {
	border-radius: 12px;
	border: 1.5px solid #0d3c5c;
	margin: auto;
	padding-top: 5px;
	padding-bottom: 8px;
	padding-right: 6px;
	padding-left: 6px;
	margin-top: 8px;
	margin-bottom: 8px;
	background: #248fd6;
	font-family: 'Nunito';
	font-size: 15px;
}
.footer {
	color: black;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: .3rem;
	font-size: 15px;
	background-color: #248fd6;
	text-align: center;
}
.keyword {
	text-decoration: underline;
	text-decoration-style: dashed;
}
.score {
	text-align: right;
}
body {
	margin-right: 15%;
	margin-left: 15%;
	background: gray;
}
button {
	background-color: #ffab23;
	-moz-border-radius: 1px;
	-webkit-border-radius: 10px;
	border-radius: 6px;
	border: 2px solid #de8c11;
	font-family: monospace;
	padding: 2px 7px;
	font-size: 15px;
	transition: all 0.3s ease 0s;
	position: relative;
	text-align: center;
}
button:hover {
	background-color: #FF9933
}
h1 {
	font-size: 60px;
	font-family: monospace;
	padding: 0px;
	margin: 0px;
}
ul {
	margin: 0px;
}
