* {
    box-sizing: border-box;
    outline: none !important;
    background-color: rgb(24, 24, 24);
    color: white;
}

html, body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu", "Roboto", "Noto Sans", "Droid Sans", sans-serif;
    font-size: 15px;
    color: #292a2b;
    margin: 0;
    line-height: 22.5px;
}

header {
    text-align: center;
    font-weight: bold;
    display: block;
    font-size: 24px;
    width: 97.5%;
    height: 200px;
    top: 0;
    position: fixed;
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(255, 255, 255);
    color: white;
    background-image: url(3departments.png);
    background-repeat: no-repeat;
    background-size: 600px;
    z-index: 1;
}

pre, code {
    font-family: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Ubuntu Mono", "Roboto Mono", Menlo, Monaco, Consolas, monospace;
    font-size: 13px;
    line-height: 17px;
}

body {
    display: flex;
    margin: 0;
    padding: 20px;
    font-family: 'Nunito';font-size: 16px;
}

#form, #reportBody {
    width: 100%;
    display: block;
    margin: 0;
    padding: 5px; 
}

#form{
    margin-top: 180px;
}

#reportBody {
    height: 78%;
    position: fixed;
    top: 198px;
    right: 20px;
    bottom: 110px;
    white-space: pre-wrap;
    width: calc(50% - 20px);
    padding: 5px 10px;
}

.form-group:not(.layer-2) > label {
    display: block;
    margin-right: 10px;
}

.form-group.layer-2 {
    margin-bottom: 3px;
}

.form-group {
    margin-bottom: 10px;
}

label {
    font-weight: 600;
}
label.inline {
    display: inline-block !important;
}

textarea {
    padding: 3px;
    resize: none;
    width: 450px;
    height: 50px;
}

.narrow {
    padding: 3px;
    resize: none;
    width: 400px;
	height: 25px;
}

.long {
    padding: 3px;
    resize: none;
    width: 400px;
    height: 200px;
}

.wide {
    padding: 3px;
    resize: none;
    width: 400px;
    height: 100px;
}
/*Textbox border*/
textarea, input[type="text"], input[type="text2"], input[type="number"] {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    font-family: 'Nunito';
    font-size: 13px;
    background-color: #242424;
}

input[type="text"], input[type="text2"], input[type="number"]::placeholder {
    color: white;
    text-align: center;
    font-family: 'Nunito';
}

input[type="checkbox"] + label {
    display: inline-block !important;
}
/*Inbetween lines*/
.form-group:not(.layer-2) {
    padding-bottom: 7px;
    border-bottom: 2px solid rgb(255, 255, 255);
    margin-bottom: 7px;
    width: 50%;
}

input[type="text"] {
    width: 180px;
    padding: 3px;
}
input[type="text2"] {
    padding: 3px;
    width: 90px;
}
input[type="number"] {
    width: 60px;
    padding: 3px;
}


label + .form-group.layer-2 {
    margin-top: 10px;
}

input[type="checkbox"] {
    position: relative;
    accent-color: rgb(25, 145, 41);
    width: 20px;
    height: 15px;
    opacity: 0;
}

label + input[type="checkbox"]{
    position: absolute;
}

label span{
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 5px;
    margin-top: -22px;
    
}

label span::after{
    content: '';
    position: absolute;
    left: 3.5px;
    bottom: 4px;
    width: 10px;
    height: 15px;
    border: solid rgb(42, 182, 24);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: width 0.5s, height 0.5s, opacity 0.8s;
}
input:checked ~ span::after{
    width: 6px;
    height: 10px;
    opacity: 1;
}


input.invisible {
    width: 50px;
    border: none;
    border-bottom: 1px solid #a8a8a8;
    border-radius: 0;
    padding-bottom: 1px;
}

button {
    border: 1px solid transparent;
    color: #000000;
    background-color: rgb(255, 255, 255);
    border-color: rgb(119, 119, 119);
    border-radius: 4px;
    padding: 5px 15px;
    cursor: pointer;
    display: inline-block;
    margin-top: 5px;
    transition: 250ms;
    
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;

    color: #000000;
    background-color: rgb(255, 255, 255);
    border-color: rgb(119, 119, 119);
}

a.button:hover {
    color: white;
    background-color: rgb(82, 82, 82);
    border-color: rgb(29, 29, 29);
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 45px;
    font-size: 16px;
    line-height: 45px;
    border-radius: 25px;
    background-color: #9BCDCD;
	border-color: #5B88CC;
	border-style: solid;
	border-width: thin;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 43px;
    width: 43px;
    border-radius: 50%;
}

select {
	background-color: #242424;
	color:#f9f9f9;
    border: 2px solid rgb(252, 252, 252);
    border-radius: 10px;
    font-family: 'Nunito';
    text-align: center;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 45%;
}

.headerbuttons {
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 94.5%;
    top: 0;
  }

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}


/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

    color: #000000;
    background-color: rgb(255, 255, 255);
    border-color: rgb(119, 119, 119);
}

.btn:hover{
    color: white;
    background-color: rgb(82, 82, 82);
    border-color: rgb(29, 29, 29);
}

.lineup:not(.layer-2) > label {
    display: block;
    margin-right: 10px;
}
.lineup.layer-2 {
    margin-bottom: 3px;
}
.lineup {
    margin-bottom: 10px;

}
.lineup:not(.layer-2) {
    padding-bottom: 7px;
    border-bottom: 2px solid rgb(255, 255, 255);
    margin-bottom: 7px;
    width: 50%;
}
label + .lineup.layer-2 {
    margin-top: 10px;
}

h1, h2 {
    font-size: 16px;
    font-weight: normal;
}

body::-webkit-scrollbar{
    display: none;
}